<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388681643004-mn7c9tuu89mq0vf0jp2cais5h6hhs4u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388681643004-mn7c9tuu89mq0vf0jp2cais5h6hhs4u5</string>
	<key>API_KEY</key>
	<string>AIzaSyCVC5loC7qsH1MfUz8RXTFbmk5zxo5Zjfs</string>
	<key>GCM_SENDER_ID</key>
	<string>388681643004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ClassicResidencyApp</string>
	<key>PROJECT_ID</key>
	<string>classicresidency-47c3c</string>
	<key>STORAGE_BUCKET</key>
	<string>classicresidency-47c3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388681643004:ios:d9a4f2f88da677295b3879</string>
</dict>
</plist>